body {
	background-color: #FAF9DA;
	background-image: 
	radial-gradient(circle at 100% 150%, #F5D483 24%, #FAF9DA 25%, #FAF9DA 28%, #F5D483 29%, #F5D483 36%, #FAF9DA 36%, #FAF9DA 40%, transparent 40%, transparent),
	radial-gradient(circle at 0    150%, #F5D483 24%, #FAF9DA 25%, #FAF9DA 28%, #F5D483 29%, #F5D483 36%, #FAF9DA 36%, #FAF9DA 40%, transparent 40%, transparent),
	radial-gradient(circle at 50%  100%, #FAF9DA 10%, #F5D483 11%, #F5D483 23%, #FAF9DA 24%, #FAF9DA 30%, #F5D483 31%, #F5D483 43%, #FAF9DA 44%, #FAF9DA 50%, #F5D483 51%, #F5D483 63%, #FAF9DA 64%, #FAF9DA 71%, transparent 71%, transparent),
	radial-gradient(circle at 100% 50%, #FAF9DA 5%, #F5D483 6%, #F5D483 15%, #FAF9DA 16%, #FAF9DA 20%, #F5D483 21%, #F5D483 30%, #FAF9DA 31%, #FAF9DA 35%, #F5D483 36%, #F5D483 45%, #FAF9DA 46%, #FAF9DA 49%, transparent 50%, transparent),
	radial-gradient(circle at 0    50%, #FAF9DA 5%, #F5D483 6%, #F5D483 15%, #FAF9DA 16%, #FAF9DA 20%, #F5D483 21%, #F5D483 30%, #FAF9DA 31%, #FAF9DA 35%, #F5D483 36%, #F5D483 45%, #FAF9DA 46%, #FAF9DA 49%, transparent 50%, transparent);
	background-size: 60px 30px;
}

.double-border {
	position: absolute;
	border: 0.6em double black;
	background-color: #818B59;
}

.double-border > div {
	position: relative;
	height: 100%;
	width: 100%;
}

.game {
	background-color: #D04E3E;
	background-image: linear-gradient(90deg, rgba(255,255,255,.07) 50%, transparent 50%),
	linear-gradient(90deg, rgba(255,255,255,.13) 50%, transparent 50%),
	linear-gradient(90deg, transparent 50%, rgba(255,255,255,.17) 50%),
	linear-gradient(90deg, transparent 50%, rgba(255,255,255,.19) 50%);
	background-size: 13px, 29px, 37px, 53px;
}

.game-container {
	width: 90vmin;
	height: 90vmin;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
}

.menu-container {
	width: 62%;
	margin: 12% 19% 12% 19%;
}

.hidden {
	display: none;
}

.menu {
	text-align: center;
	background-color: #FAF9DA;
}

.menu-heading {
	font-family: 'Wire One', sans-serif;
	font-size: 500%;
	color: #5D4B33;
	margin-top: 0px;
	padding-top: 0.5em;
	margin-bottom: 0.3em;
}

.menu-heading:hover {
	cursor: default;
}

.menu-option {
	font-family: 'Wire One', sans-serif;
	font-size: 310%;
	color: #EBAA44;
	display: inline-block;
	margin-top: 0;
	margin-bottom: 0.5em;
}

.menu-option:hover {
	cursor: pointer;
	color: #D04E3E;
}

.menu-option:active {
	text-decoration: underline;
	color: #D04E3E;
}