.game-box {
  width: 500px;
  height: 500px;
	border: 5px double black;
	margin: auto;
}

.hidden {
	display: none;
}

.menu {
	width: 62%;
	border: 5px double black;
	margin: 12% auto;
	text-align: center;
}

.menu-heading {
	font-family: 'Wire One', sans-serif;
}

.menu-option {
	font-family: 'Wire One', sans-serif;
	color: gray;
	display: inline-block;
	margin-top: 0;
}

.menu-option:hover {
	cursor: pointer;
	text-decoration: underline;
	color: black;
}